<!DOCTYPE html> 
<html lang="es"> 
<head>
    <meta charset="utf-8">
    
    <title>Url Shorter</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
   
    {% if short_url %}
    


    <p class="result-txt">Tu URL es: {{short_url}}</p> 




       
{% endif %}

</body>


</html>